<h1 class="text-5xl font-bold">QR Code Job Finder</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2 class="text-3xl">The easiest way to post job listings and get employees fast!</h2>

<div class="pt-5 flex gap-5">
  <%= link_to "Candidate", candidate_dashboard_path, class: "bg-gray-100 px-5 rounded rounded-2xl" %>
  <%= link_to "Business", business_dashboard_path, class: "bg-gray-100 px-5 rounded rounded-2xl" %>
</div>




