<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Go to Page Candidate</p>
<%= link_to "Candidate Path", pages_candidate_path %>

<p>Go to Page Business</p>
<%= link_to "Business Path", pages_business_path %>

