<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Sign in as a candiate</p>
<%= link_to "Sign in", new_candidate_session_path %>

<p>Sign in as a business</p>
<%= link_to "Sign in", new_business_session_path %>

